/** @format */

@media (min-width: 50em) {
  /* Adjust header logo size for smaller screens */
  header img {
    width: 80px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
  }
  nav a {
    flex: 100%;
  }

  #menu {
    display: none;
  }
  .navigation,
  .navigation.open {
    display: flex;
    justify-content: flex-end;
  }
  .navigation input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: 1px solid #ccc;
  }
}
